body {
    background: #f5d9d5 !important;
    font-family: "Nunito", sans-serif;
}
:root{
    --red-color: #ea1c2c;
}
.blub h2{
    color: var(--red-color);
    font-weight: 100 !important;
    font-size: 2.5rem;
}
.blub p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.space {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link {
    color: #fff; 
}
#mainNavbar .nav-link:hover {
    color: var(--red-color); 
}
#mainNavbar .navbar-brand {
    color: var(--red-color) !important;
    font-size: 1.5rem;
}
#headingGroup span {
    color: var(--red-color);
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}
@media (max-width: 1300px) {
    #headingGroup h1 {
        font-size: 3.5rem;
    }
}
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}
@media (max-width: 1050px) {
    #headingGroup h1 {
        font-size: 2.5rem;
    }
} 