<section class="hero">
  <div class="container-fluid px-0">
    <div class="row align-items-center text-center">
      <div class="col-lg-6 mt-5">
        <div id="headingGroup" class="d-none d-lg-block text-white">
          <h1>MUSEIUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1>MUSEIUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1>MUSEIUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1>MUSEIUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1>MUSEIUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1>MUSEIUM<span>/</span>OF<span>/</span>CANDY</h1>
          <h1>MUSEIUM<span>/</span>OF<span>/</span>CANDY</h1>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid" src="images/hand2.png" alt="candy in hand" />
      </div>
    </div>
  </div>
</section>
