<section class="container-fluid px-0 space">
  <div class="row align-items-center">
    <div class="col-md-6 order-2 order-md-1">
      <img class="img-fluid" src="images/milk.png" alt="bottle of milk" />
    </div>
    <div class="col-md-6 order-1 order-md-2 text-center">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 blub">
          <h2>MUSEUM OF CANDY</h2>
          <img
            src="/images/lolli_icon.png"
            alt="lollipop"
            class="d-none d-lg-inline"
          />
          <p class="lead">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Repudiandae nam eligendi dicta saepe perspiciatis autem quidem nihil
            ea, quod dolor neque vel sint, reiciendis doloremque!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
